main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a8fea;
  color: white;
  margin-top: 20px;
  
}

header {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8cacea;
  font-size: 1.3em;
  border-bottom: 1px solid #52beac;
  background-color: #808080;
  margin-bottom: 20px;
}

header > h3 > span:nth-child(1) {
  color: #52beac;
  letter-spacing: 2px;
}

header > h3 > span:nth-child(2) {
  color: #fff;
  letter-spacing: 2px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

section {
  flex: 1 1 25%;
  flex-direction: column;
  display: flex;
  background-color: rgb(81, 190, 172, 0.5);
  box-shadow: 5px 10px 18px #808080;
  border-radius: 20px;
  margin: 10px 20px;
  font-size: 1.1em;

}

.btn {
  background-color: #52beac;
  opacity: 0.9;
  border-radius: 10px;
  color: #fff;
  width: 7rem;
  height: 1.5rem;
}

.p-title {
  color: #000;
  font-weight: bold;
  text-align: center;
}

ul {
  /*flex: 1 1 auto;*/
  color: #000;
}

li {
  display: flex;
  flex: 1 1 auto;
}

.ul-section {
  border-top: 3px solid #fff;
  padding-top: 30px;
}

.ul-users > li {
  display: list-item;
}

.ul-items-boxes {
  padding: 20px 0 0 0;
  list-style: none;
}

.ul-items-boxes > li {
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.ul-items-boxes > li > p {
  margin: 5px 0;
}

.ul-items-boxes > li > p:nth-child(1) {
  flex: 1 1 70%;
  align-items: flex-start;
}

.ul-items-boxes > li > p:nth-child(2) {
  flex: 1 1 30%;
  align-items: flex-end;
}

.li-boxes {
  display: flex;
  flex-direction: column;
}

.ul-items-in-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 10px;
}

.ul-items-in-box span {
  color: red;
  opacity: 0.9;
}

.ul-items-in-box p {
  margin: 0px;
}

.ul-items-in-box p:nth-child(1) {
  flex: 1 1 70%;
}
.ul-items-in-box p:nth-child(2) {
  flex: 1 1 30%;
  align-items: flex-end;
  text-align: right;
}

.ul-section-add {
  display: flex;
  flex-direction: column;
  padding: 0px;
  /*align-items: stretch;*/
}

.ul-section-add > li {
  display: flex;
  margin: 10px 20px;
  max-height: 30px;
}

.ul-section-add > li > label{
  flex: 0 0 35%;
}

.ul-section-add > li > input{
  flex: 0 0 65%;
}

.add-username > input:nth-child(1) {
  flex: 0 0 65%;
}

.add-username > input:nth-child(2) {
  flex: 0 0 35%;
}

.addBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.commands {
  background-color: #808080;
  opacity: 0.9;
}
